 "This notebook connects to the PostgreSQL database and analyzes the flight data collected from the AviationStack API."

In [2]:
"""
Flight Data Analysis Script

This script connects to the PostgreSQL database and analyzes the flight data 
collected from the AviationStack API.
"""

# Import necessary libraries
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
def connect_to_db():
    """Connect to PostgreSQL database and load flight data."""
    db_connection_string = "postgresql+psycopg2://airflow:airflow@localhost:5432/testfligoo"
    
    try:
        engine = create_engine(db_connection_string)
        query = "SELECT * FROM testfligoo"
        flights_df = pd.read_sql(query, engine)
        print(f"Successfully loaded {len(flights_df)} flight records from the database.")
        flights_df
        return flights_df
    except Exception as e:
        print(f"Error connecting to database: {e}")
        return None

In [19]:
# Load the flight data
flights_df = connect_to_db()
display(flights_df)

Successfully loaded 100 flight records from the database.

,flight_date,flight_status,departure_airport,departure_timezone,arrival_airport,arrival_timezone,arrival_terminal,airline_name,flight_number
0,2025-03-07,active,Sam Mbakwe International,Africa - Lagos,Murtala Muhammed,Africa - Lagos,1D,SmartLynx Airlines,7153
1,2025-03-07,active,Fukuoka,Asia - Tokyo,Narita International Airport,Asia - Tokyo,3,Jetstar,518
2,2025-03-07,active,Chengdu Tianfu International Airport,Asia - Chongqing,Qingdao,Asia - Shanghai,1,Shenzhen Airlines,5240
3,2025-03-07,active,Chengdu Tianfu International Airport,Asia - Chongqing,Qingdao,Asia - Shanghai,1,China Eastern Airlines,3879
4,2025-03-07,active,Chengdu Tianfu International Airport,Asia - Chongqing,Qingdao,Asia - Shanghai,1,Xiamen Airlines,7879
...,...,...,...,...,...,...,...,...,...
95,2025-03-07,active,Memphis International,America - Chicago,Municipal,America - Chicago,,FedEx,8359
96,2025-03-07,active,Malay,Asia - Manila,Ninoy Aquino International,Asia - Manila,2,Cebu Pacific Air,6244
97,2025-03-07,active,Kuala Lumpur International Airport (klia),Asia - Kuala_Lumpur,Sibu,Asia - Kuching,1,Batik Air,1906
98,2025-03-07,active,Kuala Lumpur International Airport (klia),Asia - Kuala_Lumpur,Zia International,Asia - Dhaka,1,Batik Air,166
99,2025-03-07,active,Sumburgh,Europe - London,Dyce,Europe - London,3,Eastern Airways,1035